body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.gameUI {
  z-index: 1;
  position: absolute;
}

.inventory-btn {
  margin-left: 20px;
  margin-top: 20px;
}

.gameplayScreen {
  border: 1px solid black;
  position: relative;
}

.structure-ui {
  background-color: white;
}

.hidden {
  visibility: hidden;
}
